img {
    height: auto;
    width: 300px;
    border: black;
}

.circle {
    border: red;
    background-color: #FFFFFF;
    height: 100px;
    -moz-border-radius: 75px;
    -webkit-border-radius: 75px;
    width: 100px;
}

#myInput {
    background-image: url('/css/searchicon.png');
    /* Add a search icon to input */
    background-position: 10px 12px;
    /* Position the search icon */
    background-repeat: no-repeat;
    /* Do not repeat the icon image */
    width: 100%;
    /* Full-width */
    font-size: 16px;
    /* Increase font-size */
    padding: 12px 20px 12px 40px;
    /* Add some padding */
    border: 1px solid #ddd;
    /* Add a grey border */
    margin-bottom: 12px;
    /* Add some space below the input */
}

#myUL {
    /* Remove default list styling */
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#myUL li a {
    border: 1px solid #ddd;
    /* Add a border to all links */
    margin-top: -1px;
    /* Prevent double borders */
    background-color: #f6f6f6;
    /* Grey background color */
    padding: 12px;
    /* Add some padding */
    text-decoration: none;
    /* Remove default text underline */
    font-size: 18px;
    /* Increase the font-size */
    color: black;
    /* Add a black text color */
    display: block;
    /* Make it into a block element to fill the whole list */
}

#myUL li a:hover:not(.header) {
    background-color: #eee;
    /* Add a hover effect to all links, except for headers */
}

.innerGradient {
    z-index: -1;
    width: 300%;
    height: 488%;
    position: absolute;
    animation: gra 5s infinite;
    -webkit-animation: gra 5s infinite;
    background: linear-gradient(135deg, #0bd666 0%, #0bd666 20%, #0bd666 50%, #0bd666 80%, #001df7 100%);
    background: -webkit-linear-gradient(135deg, #0bd666 0%, #0bd666 20%, #0b0bd6 50%, #7e0b80 80%, #a10a5d 100%);
}

@keyframes gra {
    0% {
        left: -200%;
        top: -200%;
    }

    50% {
        left: 0%;
        top: 0%;
    }

    100% {
        left: -200%;
        top: -200%;
    }
}

.text-orange {
    color: orange;
    background-color: black;
    padding: 5px;
    margin: auto;
    Border: 5px solid;
    border-color: blue;

}